@{
    ViewBag.Title = "About";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"># Customer</th>
            <th scope="col"># Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
            <th scope="col">Time Added</th>
            <th scope="col">View</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody id="Orders">
    </tbody>
</table>

@Html.ActionLink("New Order", "OrderManagement", null, new { @class = "btn btn-primary center-block" })



@section scripts
{
    <script>
        $(document).ready(function () {

            UpdateTable();

            function UpdateTable() {
                $.ajax({
                    url: "/api/orders",
                    success: function (result) {

                        //Intentionally using "inefficient" way to handle creation,
                        //the purpose is later to compare the speed of this type of data handling
                        //vs
                        //built in library designed for UX and large data pools.

                        const productElements = document.getElementById("Orders");

                        while (productElements.firstChild) {
                            productElements.removeChild(productElements.firstChild);
                        }

                        jQuery.each(result, function (index, value) {
                            $(Orders).append(
                                '<tr><td>' + value.Id + '</td>' +
                                '<td>' + value.CustomerId + " - " + value.Customer.FirstName + " " + value.Customer.LastName + '</td>' +
                                '<td>' + value.ProductId + " - " + value.Product.Producer +  " " + value.Product.Name + '</td>' +
                                '<td>' + value.Quantity + '</td>' +
                                '<td>' + value.TotalPrice + '</td>' +
                                '<td>' + value.TimeAdded + '</td>' +
                                '<td><a href="ProductManagement/' + value.ProductId + '">View</a></td>' +
                                '<td><button class="js-delete" data-order-id="' + value.Id + '">Delete</button></td>');
                        })


                        $("#Customers .js-delete").on("click", function () {
                            if (confirm("Delete order?")) {
                                $.ajax({
                                    url: "/api/orders/" + $(this).attr("data-order-id"),
                                    method: "DELETE",
                                    success: function () {
                                        UpdateTable();
                                    }
                                })
                            }
                        })
                    }
                })
            }
        });
    </script>
}